.list-h1{
    font-family: 'Pangolin', cursive;
    background-color: black;
    color: white;
    padding-top: 1rem ;
}
.List{
    min-height: 100vh;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column; 
}

.card-category{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    
}
.card-category2{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px){
    .card10{
        margin-right: 4rem;
        margin-left: 0;
    }
}